// Colors
$color-blue-1: #135ef2;
$color-blue-2: #3071f2;
$color-blue-3: #5e90f2;
$color-blue-4: #8dc3f2;

$color-cobalt: #353739;
$color-haze: #e4ded2;
$color-milk: #faf8f0;
$color-sky: #c1e4f0;

$color-black: #121212;
$color-white: #f2f2f2;

$color-red: #df0000;
$color-green: #00af09;

$color-grey-light-1: #cccccc;
$color-grey-light-2: #dbdbdb;

$color-grey-dark-1: #777;

// Font Sizes
$default-font-size: 1.6rem;
